<div class="dialogue-box-wrapper" data-turbo-cache="false">

  <div class="dialogue-box-backdrop"></div>

  <% if sticker.present? %>
    <div class="dialogue-box__sticker dialogue-box__sticker--hidden">
      <%= image_tag sticker, alt: "Sticker", class: "dialogue-box__sticker-image" %>
    </div>
  <% end %>

  <div class="dialogue-box">
    <div class="dialogue-box__header">
      <h1>Astronaut Orpheus</h1>
      <button type="button" class="dialogue-box__mute-btn" aria-label="Toggle sound">
        <%= helpers.inline_svg_tag "icons/volume-on.svg", class: "dialogue-box__mute-icon" %>
        <%= helpers.inline_svg_tag "icons/volume-off.svg", class: "dialogue-box__mute-icon", style: "display: none;" %>
      </button>
    </div>

    <div class="dialogue-box__image">
      <%= image_tag "orpheus_sprites/1.png", alt: "Astronaut Orpheus" %>
    </div>

    <div class="dialogue-box__text">
      <div class="dialogue-box__text-content">
        <span><%= text.first %></span>
      </div>

      <button type="button" class="dialogue-box__text-btn">
        Click to continue...<span>&#8964;</span>
      </button>
    </div>
  </div>
</div>
